/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 мая 2021 г., 12:50:32
    Author     : antia
*/

#introduction{
    background: linear-gradient(rgba(15, 58, 114, 0.5), rgba(0,0,0,0.8)), url('../img/background.jpg') 0% 0%/cover;
} 

.fill-viewport {
    min-height: 100vh;
}

.text-white-70 {
    color: rgba(255,255,255,0.7)
}

.text-black-40 {
  color: rgba(0,0,0,0.4)
}

.fill-80-viewport {
  min-height: 80vh
}
